<div class="example-container">
	<mat-form-field>
		<input matInput placeholder="Input">
  </mat-form-field>
<br>
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>
<br>
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>
<br>
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>
<br>
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>
<br>
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>
<br>
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>
<br>
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>
<br>
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" class="main-add-button">
      <span class="button-label">
       submit
      </span>
    </button>
</div>